.menu {
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #141e30;
  z-index: 2;
}

.menu .top {
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu .top h3 {
  font-size: 2rem;
}

.menu .top svg {
  width: 48px;
  height: 48px;
}

.menu ul {
  margin: 0;
  padding: 0;
  padding: 0.5em 1em;
  list-style: none;
}

.menu ul li {
  margin: 2em 0;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.active {
  text-decoration: underline !important;
}
