body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
ul.side-nav{padding: 15px;}
.side-nav ul li{
    list-style-type: none;
    color: #ccc;
    display: block;
    text-decoration: none;
}
ul.side-nav li a i{
    margin-right: 5px;
    display: block;
}
a#active{
    background-color: #111;
    color: white;

}
.side-nav ul li a {color: #ccc;}
@media only screen and (min-width: 992px){
    nav.side-nav{
        font-family: Arial, Helvetica, sans-serif;
        color: #ccc;
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
    }
}