@media (min-width: 48em){
  .headT{
    float: left;
  }
  .headN{
    float: right;
  }
}
.mastCon{
  max-width: 42em;
  background-color: rgba(0,0,0,.075);
}
html{
  height: 100%;
}
body{
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  

  color: #ffffff;
  height: 100%;
  display: flex;
  text-align: center;
}
.inner{
  margin: 1rem 0;
}
.headN a{
  color: #c3c3c3;
}
.headN a:hover{
  color: #ffffff;
}
.headN a.active{
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}
.cover{
  padding: 0 1.5rem;
}
.footLink{
  color: #ffffff;
}
.foot p{
  color: #c6c6cc;
}
.footLink:hover{
  color: #c1c1c1;
}
.slideText{
  padding: 0 4rem;
}
.slide-head{
  font-family: 'Lobster', cursive;
}
.photos img{
  margin: 1px 0;
}
@media (min-width: 570px){
  .contact{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 10rem;
  }
}
@media (max-width: 570px){   
  .contact{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 4rem;
  }
}