.wrapper {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  min-height: 100vh;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
  width: 75%;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
}

.card header {
  display: flex;
  align-items: stretch;
}

.card header h3 {
  font-size: 2rem;
  margin-right: auto;
}

.card header nav {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 1em;
}

.card header nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.card header nav .active {
  text-decoration: underline;
}

.card main {
  margin: 1em 0;
  flex: 1;
  display: flex;
  justify-content: center;
}

.card footer {
  text-align: center;
  margin-bottom: 1em;
}

.card footer a {
  color: white;
  text-decoration: none;
  margin-left: 4px;
  font-family: Dancing_Script;
}

.card header div {
  display: flex;
  align-items: center;
}

.card header div svg {
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 500px) {
  .card {
height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    background-color: transparent;
  }
  .card footer p {
    margin-bottom: 2em;
  }
}
